*{
    padding: 0;
    margin: 0;
}

.container{
   /* width: 1440px;  */
   width: 100vw;
   /* height: 8545px; */
   min-height: 100vh;
   background: #FFF;
   box-sizing: border-box;
}

.nav{

/* width: 1440px; */
width: 100vw;
height: 126px;
flex-shrink: 0;
background: #91D4FA;
display: flex;
align-items: center;



}

.logo img{
width: 175px;
height: 70.085px;
flex-shrink: 0;
margin-left: 60px;


}

.navMenu{
color: #131313;
width: 70%;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;

justify-content: space-around;
/* margin-left: 125px; */

}
.navMenu  a{
    text-decoration: none;
    display: flex;
   
    
}

.navBtn{

width: 200px;
height: 60px;
margin: 0 40px;
border-radius: 12px;
border: none;
background: #EC1C24;
flex-shrink: 0;
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.48px;
text-transform: uppercase;
cursor: pointer;
}

.nav2{
    /* width: 1440px; */
width: 100vw;    
height: 102px;
flex-shrink: 0;
background: linear-gradient(90deg, #3B65FB 0.04%, #32E7A6 49.96%, #80D9F5 89.62%);

display: inline-block;
align-items: center;
}
.navP1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px; 
    margin-left: 275px;
   margin-top: 20px;
    
}

.navP2{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-left: 275px;
}

/* hero1 */

.hero1{
    display: flex;
}

.leftCont{
    margin-left: 69px;;
    margin-top: 100px;
}
.cloud{
    display: flex;
    align-items: center;
}
.cloud img{
width: 21.17px;
height: 51.399px;
transform: rotate(-12.139deg);
flex-shrink: 0;
fill: #42AD49;
}
.cloud p{
color: #42AD49;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.96px;
margin-left: 20px;
}

.heroHeading{
    width: 461px;
    color: #131313;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 900;
line-height: 62px; /* 147.619% */
letter-spacing: 2.52px;
}
.heroPara{
    width: 538px;
    color: #414141;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 200% */
letter-spacing: 0.36px;
margin-top: 20px;
}
.heroBtn{
    width: 340px;
height: 66px;
flex-shrink: 0;
border-radius: 26px;
background: #60B246;
border: none;
margin: 50px;
color: #FFF;
}
.rightCont img{
    width: 753.195px;
    height: 590.518px;
    transform: rotate(-1.09deg);
    flex-shrink: 0;
  
 
}

/* hero2 */
.hero2{
   margin: 40px;
}
.north{
    /* margin: 30px; */
    color: #42AD49;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: 0.48px;
text-align: center;
}
.hero2 h1{
    color: #131313;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 56.25% */
letter-spacing: 2.56px;
text-align: center;
margin: 30px 0;
}
.helping{
    width: 1196px;
    color: #414141;
text-align: center;
font-family: Inter;
margin: 30px;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
letter-spacing: 0.8px;
}
/* hero3 */

.hero3{
    margin: 40px;
}

.hero3Green{
    color: #2CC336;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 180% */
letter-spacing: 0.8px;
margin: 30px;
}
.hero3 h1{
    color: #131313;
text-align: center;
font-family: Inter;
font-size: 62px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 58.065% */
letter-spacing: 2.48px;
margin: 30px;
}
.hero3para{
    width: 70%;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
letter-spacing: 0.8px;
margin: 30px;
}

.company{

    display: flex;
    justify-content: center;align-items: center;

}

.company p{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
letter-spacing: 0.4px;

}

.company img{

    display: block;
    margin: auto;
}

.team{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.name{
    color: #131313;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: 0.48px;
}

.role{
    color: #414141;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
letter-spacing: 0.4px;
}

.team img{
    display: block;
    margin: auto;
}

/* hero4 */

.hero4{
    margin: 40px;
    display: flex;
}

.hero4Green{
    color: #2CC336;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: 0.96px;
}

.left4 img{
    width: 482px;
    height: 328px;
    flex-shrink: 0;
}
.right4{
    margin: 20px;
    box-sizing: border-box;
}

.right4 h3{
    color: #2CC336;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 150% */
letter-spacing: 0.96px;
margin: 20px;
}
.right4 h1{
    width: 809px;
    color: #000;
font-family: Inter;
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: 76px; /* 122.581% */
letter-spacing: 1.24px;
margin: 25px;

}
.right4 p{
    width: 787px;
    color: #000;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 169.231% */
letter-spacing: 1.04px;
margin: 25px;
}

.right4 button{
    width: 265px;
height: 74px;
flex-shrink: 0;
border-radius: 52px;
background: #65B345;
color: #FFF;
border: none;
margin: 50px 20px;
}

.hero41{
    display: flex;
    margin: 40px;
}

.hero41 h3{
    color: #42AD49;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 200% */
letter-spacing: 0.44px;
margin-left: 25px;

}

.hero41 h1{
    width: 734px;
    color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 60px; /* 125% */
letter-spacing: 0.96px;
margin: 25px;
}

.hero41 p{
    width: 704px;
    color: #414141;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
margin: 25px;
}

.hero41 button{
    width: 276px;
height: 74px;
flex-shrink: 0;
color: #FFF;
border-radius: 52px;
background: #65B345;
border: none;
margin-left: 25px;
}

.left41{
    margin-top: 100px;
    margin-left: 25px;
}

/* hero5 */

.hero5 h3{
    color: #2CC336;
    font-family: Inter;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 141.667% */
    letter-spacing: 0.96px;
    margin: 25px;
}
.hero5 h1{
    color: #131313;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: 36px; /* 56.25% */
letter-spacing: 2.56px;
margin: 35px;
}

.hero5 p{
    width: 1236px;
    color: #414141;
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 154.545% */
letter-spacing: 0.88px;
margin: auto;
}

.hero51{
    display: flex;
    margin: 50px;
    
}
.left51{
 
    width: 535px;
}

.left51 img{
   
height: 326px;
flex-shrink: 0;


}



.right51 h2{
    color: #000;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 34px; /* 85% */
letter-spacing: 0.8px;
margin: 60px 50px 20px 50px;
}

.right51 p{
    width: 602px;
    color: #414141;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
margin: 0 50px;
}

.limelight{
    margin: 40px;
}

.limelight h3{
    color: #2CC336;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
text-align: center;
margin: 25px;
}

.limelight h1{
    width: 980px;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: 70px; /* 116.667% */
letter-spacing: 1.2px;
margin:25px auto;

}

.limelight p{
    width: 1179px;
    color: #414141;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
margin: 25px auto;
}

.services{
    display: flex;
}

.services p{
    width: 336px;
    color: #414141;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 166.667% */
letter-spacing: 0.72px;
text-align:left ;
box-sizing: border-box;
}

.services h2{
    color: #131313;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.52px;
box-sizing: border-box;

}
.services div{
    margin: 10px;
    
}
.services img{
    margin: 30px;
}

.hero22 {
 width: 100vw;
height: 832px;
flex-shrink: 0;
    background: url(images/hero-2\ 1.png), lightgray 50% / cover no-repeat;
   
}
.hero22 p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    letter-spacing: 0.8px; 
    position: relative;
    top: 130px;
    left: 150px;
}


.hero22 h2{color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 44px; /* 91.667% */
letter-spacing: 1.92px;
position: relative;
top: 160px;
left: 150px;
}

.hero22 ul{
    width: 1000px;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 52px; /* 216.667% */
letter-spacing: 0.48px;
position: relative;
top: 190px;
left: 150px;
}

.hero22 button{
    width: 318px;
height: 88px;
flex-shrink: 0;
border-radius: 20px;
background: linear-gradient(91deg, #145063 3.38%, #19C7FE 99.66%);
color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 52px; /* 173.333% */
letter-spacing: 1.2px;
border: none;
position: relative;
margin-top: ;
top: 250px;
left: 150px;

}

.data{
    display: flex;
   margin: 50px auto;
   align-items: center;
   justify-content: center;
   
}

.data div{
  border-right: 4px solid #19C7FE;
  height: 208.154px;;
 margin: 10px;

}

.data :last-child{
    border: none;
}
.data h2{
    color: #145063;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 130% */
letter-spacing: 1.6px;
}
.data p{
    width: 246px;
    color: #131313;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 141.667% */
letter-spacing: 0.96px;
}

.blue{
width: 100vw;
height: 348px;
flex-shrink: 0;
background: linear-gradient(90deg, #04FFF0 0.3%, #0AA5FC 99.76%);
}

.blue p{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 52px; /* 108.333% */
letter-spacing: 1.92px;
text-align: center;
position: relative;
top: 70px;
}

.blue button{
    width: 500px;
height: 91px;
flex-shrink: 0;
border-radius: 40px;
background: #FFF;
color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 52px; /* 162.5% */
letter-spacing: 0.64px;
position: relative;
top: 100px;
border: none;
display: block;
margin: auto;
}

.footer{
    display: flex;
    margin: 50px 20px 0 50px;


  height: 500px;
  /* align-items: first baseline; */
  justify-content: space-between;
   
}


.footer p{
  
    color: #414141;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 188.889% */
letter-spacing: 0.72px;
}
.footer h2{
    color: #131313;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 800;
line-height: 34px; /* 130.769% */
letter-spacing: 1.04px;
}

.footLogo img {
    width: 70px;
    height: 64px;
    flex-shrink: 0;
}

.erp{
    color: #42AD49;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
}

.industry{
    color: #42AD49;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 170% */
letter-spacing: 0.8px;
}

.footer2{
    border-top: 2px solid  #414141;
    display: flex;
    width: 95vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
   margin: 0 40px;

}
.footer2 p{
    color: #131313;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 34px; /* 188.889% */
letter-spacing: 0.72px;
margin: 0 40px;
}